* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #303030;
}

.container {
  max-width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container.small {
  margin-left: auto;
  margin-right: auto;
  width: 1360px;
  max-width: 100%;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #e6e6f0;
  border-radius: 50%;
}

.hidden {
  display: none;
}

/*-------------------------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.logo p {
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
  text-decoration: none;
}
.navigation .phone:hover {
  text-decoration: underline;
}

.addres {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.lang {
  display: flex;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #f0145a;
  border-radius: 8px;
}

label {
  padding: 5px 7px;
}

label:hover {
  background: #f5f5fa;
  border-radius: 8px;
  padding: 5px 7px;
}

.faceb:hover {
  fill: #f0145a;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 15px;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}
.nav a:hover {
  text-decoration: underline;
}
.nav a:focus {
  text-decoration: underline;
  color: #f0145a;
}
.nav a:active {
  text-decoration: underline;
  color: #f0145a;
}

/*----------------------------------------------*/
.user-info{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}


.adrinfo {
  display: flex;
  flex-direction: column;
  width: 650px;
}
.adrinfo p {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
}
.adrinfo hr {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 4px;
  background: #e6e6f0;
  border: none;
  
}
.adrinfo .phone {
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 30px;
  color: #46466e;
}
.adrinfo .mail {
  font-size: 21px;
  line-height: 30px;
  color: #24a3ff;
  text-decoration: none;
}
.adrinfo .mail:hover {
  color: #f0145a;
}
.facemore {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.facemore:hover .facebook {
  fill: #f0145a;
}
.facemore:hover span {
  color: #f0145a;
}
.facemore span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.callback {
  display: flex;
  align-items: flex-start;
  background: #f5f5fa;
  border-radius: 12px;
  padding: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.form input {
  padding: 15px;
  gap: 10px;
  display: block;
  max-width: 100%;
  width: 590px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
.form .inputborder:focus {
  border-color: #24a3ff;
}
textarea {
  resize: none;
  padding: 15px;
  gap: 10px;
  display: block;
  max-width: 100%;
  width: 590px;
  height: 130px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
::placeholder {
  font-size: 16px;
  line-height: 26px;
  color: #b3b3ba;
}

.yourname {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
.yourcontract {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.yourcontract .button {
  padding: 18px 30px;
  gap: 10px;
  display: block;
  max-width: 100%;
  width: 590px;
  height: 56px;
  background-color: #24a3ff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 12px;
}
.yourcontract .button:hover {
  background: #0085ff;
}
.yourcontract .button:active {
  background: #006ccf;
}

/*--------------------------------------------------*/

footer {
  background-color: #f5f5fa;
}

.foot {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.footnav {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 21px;
}

.upfoot,
.downfoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.upfoot p {
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.upfoot a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #24a3ff;
  text-decoration: none;
}

.upfoot a:hover {
  color: #f0145a;
}

.downfoot .phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466e;
}
.downfoot .mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
  text-decoration: none;
}
.downfoot .mail:hover {
  color: #f0145a;
}
.downfoot .facebook:hover {
  fill: #f0145a;
}

.leftfoot p {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}
