* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #303030;
}

.container {
  max-width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container.small {
  margin-left: auto;
  margin-right: auto;
  width: 1720px;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #e6e6f0;
  border-radius: 50%;
}

.hidden {
  display: none;
}
.gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

/*-------------------------------------------------*/
header {
  background: #323264;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.logo p {
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.navigation .phone:hover {
  text-decoration: underline;
}

.addres {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.addres p {
  color: #ffffff;
}

.lang {
  display: flex;
}
.lang label {
  color: #ffffff;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #f0145a;
  border-radius: 8px;
}

label {
  padding: 5px 7px;
}

label:hover {
  background: #f5f5fa;
  border-radius: 8px;
  padding: 5px 7px;
}

.faceb:hover {
  fill: #f0145a;
}

.navhead {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 15px;
}

.navhead li {
  list-style: none;
}

.navhead a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.navhead a:hover {
  text-decoration: underline;
}
.navhead a:focus {
  text-decoration: underline;
  color: #f0145a;
}

/*----------------------------------------------*/
.better {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}
.servicecards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
}
h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 60px;
  padding-top: 60px;
}
.sercard img{
  margin-bottom: 30px;

}
.sercard h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24a3ff;
  margin-bottom: 15px;
}
.sercard p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.sponsors {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

}
.sponsors h2{
  margin-bottom: 30px;
}
.sponsor-logo{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 12px;
}
.sponsor-logo .sponsor {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1 ;
}
.sponsor img{
  max-width: 100%;
}

/*--------------------------------------------------*/

footer {
  background-color: #f5f5fa;
}

.foot {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.footnav {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 21px;
}

.upfoot,
.downfoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.upfoot p {
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.upfoot a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #24a3ff;
  text-decoration: none;
}

.upfoot a:hover {
  color: #f0145a;
}

.downfoot .phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466e;
}
.downfoot .mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
  text-decoration: none;
}
.downfoot .mail:hover {
  color: #f0145a;
}
.downfoot .facebook:hover {
  fill: #f0145a;
}

.leftfoot p {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}
