* {
  margin: 0;
  padding: 0;
}
body {
  padding: 30px;
  background: rgb(247, 245, 245);
  font-family: pacifico;
  font-weight: 18px;
  height: 1.7;
}
div {
  width: 300px;
  border-radius: 1rem;
  background: white;
  margin: 50px auto auto auto;
  text-align: center;
  box-shadow: 0 0 30px rgba(50, 50, 100, 0.25);
  padding: 1rem;
}
img{
    border-radius: 0.5rem;
}
.title {
  color: #303030;
  opacity: 700;
  text-align: center;
}
p {
  color: #909090;
  opacity: 400;
}
a{
    padding-left: 140px;
    color:rgb(31, 31, 229)
}
