* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #303030;
  background-image: url(../img/bmw.png);
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.naw1 {
  width: 250px;
  border: solid;
  border-radius: 1rem;
  text-align: center;
  padding: 10px;
  float: left;
}
.naw2 {
  width: 350px;
  border: solid;
  border-radius: 1rem;
  text-align: center;
  padding: 10px;
  margin-left: auto;
}
nav {
  display: inline-block;
  margin: 15px;
}

form {
  background-color: white;
  text-align: center;
  max-width: 200px;
  margin: 100px auto;
  border: solid darkgrey;
  border-radius: 1rem;
  box-shadow: 0 0 30px 20px rgb(169 169 169 / 50%);
  padding: 10px;
}
input {
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  border: solid;
  padding-left: 20px;
  padding-right: 20px;
}