* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #303030;
  background-image: url(../img/Tesla-Logo-Hero.webp);
  /* background-size: cover; */
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.naw1 {
  width: 250px;
  border: solid;
  border-radius: 1rem;
  text-align: center;
  padding: 10px;
  float: left;
}
.naw2 {
  width: 350px;
  border: solid;
  border-radius: 1rem;
  text-align: center;
  padding: 10px;
  margin-left: auto;
}
nav {
  display: inline-block;
  margin: 15px;
}

form {
  border: solid;
  border-radius: 1rem;
  padding: 10px;
  width: 640px;
  text-align: center;
  padding-left: 10px;
  background-color: white;
}

.search3 {
  display: inline-flex;
  flex-wrap: wrap;
}
.add {
  margin: 8px;
}
.button {
  padding-left: 20px;
  padding-right: 20px;
}
